body {
   background: #e0f0e7;
   text-align: center;
   font: 11pt monospace;
   margin: 0px;
}

#nav {
   color: #fff;
   background-color: #234;
   padding: 10px;
}

#graphs {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

img {
   margin: 4px;
}
