body {
   background: #e0f0e7;
   font: 11pt monospace;
   margin: 0px;
}

#nav {
   color: #fff;
   background-color: #234;
   text-align: center;
   padding: 2px;
}

select,input,label {
   margin-bottom: 5px;
}

#hostinfo {
   text-align: center;
}

#graphs {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   margin: 8px;
}

#logo {
   margin: 0px;
   margin-right: 4px;
   padding: 0px;
   vertical-align: bottom;
   height: 32px;
}

img {
   margin: 4px;
}
